*{
    margin: 0px;
    padding: 0px;
}
/* headings setting */
.secondary-head{
    /* border: 2px solid yellow; */
    display: block;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
#navbar{
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: 50px 50px; */
    /* height: 50px; */
}
/* navbar logo and image styling */
#logo{
    margin: 0px 7px;
}
#logo img{
    margin: 10px 12px;
    height: 40px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

ul{
    display: flex;
}
li{
    list-style: none;
    padding: 15px 10px;
}
li a{
    text-decoration: none;
    display: block;
    border-radius: 10px;
    color: white;
}
li a:hover{
    color: black;
    background-color: aqua;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    /* width: 400px; */
}
#home::before{
    content: "";
    background: url(../full-reponsive-website/back.png) no-repeat center center/cover;
    background-size: 100% 1000px;
    
    z-index: -1;
    opacity: 0.6;
    height: 100px;
    position: absolute;
    height: 100%;
    width: 100%;
}
#home p{
    width: 500px;
}
.btn{
    border: 3px solid yellow;
    padding: 7px;
    margin: 7px;
    background-color: brown;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
}
/* #about-container{
    border: 3px solid brown;
    height: 200px;
    width: 300px;
    display: flex;
}
#computer-box img{
    height: 200px;
    width: 200px;
} */
#about-container #computer-box{
    /* border: 3px solid brown; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* width: 300px;
    height: 300px; */
}
#about-container #computer-box img{
    height: 150px;
    margin: auto;
    display: block;
    padding-bottom: 20px;
 }
/* #about-container #computer-box p{
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
   } */
   #about-container .box{
    border: 3px solid purple;
    border-radius: 30px;
    background-color: rgb(233, 221, 221);
    width: 30%;
    height: 270px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
   }
   /* SPONSOR SECTION */
   #sponsor-section{
    position: relative;
    height : 200px;
    width: 100%;
}
#sponsor-section::before{
    content: "";
       background: url('../full-reponsive-website/laptop-1846277.jpg') no-repeat center center/cover;
       height: 200px;
       width: 100%;
       position: absolute;
       z-index: -1;
       opacity: 0.4;
}

   #sponsor-section .sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid brown;     */
   }
   #sponsor-section .sub-sponsors img{
    height: 100px;
    margin: 10px;
    padding: 10px;
   }
   /* conatct box styling */
   #contact-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
   }
   #contact-box::before{
    content: "";
    background-color: aqua;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
   }
   #contact-box input, 
   #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
   }

   /* footer section */
   #foot{
    background-color: black;
    color: white;
    text-align: center;
   }